@tailwind base;
@tailwind components;
@tailwind utilities;

.select-azkar {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.select-azkar:focus {
  background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjkzIiBoZWlnaHQ9IjI5MyIgdmlld0JveD0iMCAwIDI5MyAyOTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8yMTFfNSkiPgo8cGF0aCBkPSJNNS4zOTk5IDIyM0M3LjA3ODU2IDIyNC43NDYgOS4wOTk2IDIyNi4xMjcgMTEuMzM2NSAyMjcuMDU2QzEzLjU3MzQgMjI3Ljk4NiAxNS45NzgxIDIyOC40NDMgMTguMzk5OSAyMjguNEwyNzQgMjI4LjRDMjc5IDIyOC40IDI4My4zIDIyNi42IDI4Ni45IDIyM0MyODguNjQgMjIxLjM1MyAyOTAuMDI1IDIxOS4zNjggMjkwLjk3IDIxNy4xNjdDMjkxLjkxNiAyMTQuOTY2IDI5Mi40MDIgMjEyLjU5NiAyOTIuNCAyMTAuMkMyOTIuNCAyMDUuMiAyOTAuNiAyMDAuOSAyODcgMTk3LjNMMTU5IDY5LjQwMDFDMTU1LjQgNjUuODAwMSAxNTEuMiA2NC4wMDAxIDE0Ni4yIDY0LjAwMDFDMTQxLjIgNjQuMDAwMSAxMzcgNjUuODAwMSAxMzMuNCA2OS40MDAxTDUuMzk5OTEgMTk3LjRDMS44OTk5IDIwMC45IC04Ljk1MjQzZS0wNSAyMDUuMiAtOC45OTYxNGUtMDUgMjEwLjJDLTkuMDM5ODVlLTA1IDIxNS4yIDEuODk5OTEgMjE5LjQgNS40OTk5MSAyMjNMNS4zOTk5IDIyM1oiIGZpbGw9IiM5OTk5OTkiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMTFfNSI+CjxyZWN0IHdpZHRoPSIyOTIuNCIgaGVpZ2h0PSIyOTIuNCIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5Mi40IDI5Mi40KSByb3RhdGUoLTE4MCkiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
}

@layer base {
  :root {
    --color-primary: #5fba48;
    --color-secondary: #cb9f49;
    --color-primary-muted: #c8fabb;
    --color-secondary-muted: #f7e9b7;
    --color-light-primary: #ffffff;
    --color-light-secondary: #e4e4e7;
    --color-light-muted: #9e9e9e;
    --color-dark-primary: #18181b;
    --color-dark-secondary: #2c2c30;
    --color-dark-muted: #777777;
  }
}
